In [1]:
import pandas as pd
import os
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [2]:
file_dir = "air_quality_data/"

In [3]:
stations_info = pd.read_csv(file_dir + "stations_info.csv")
stations_info.head()

,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
0,AP001,Andhra Pradesh,Tirupati,APPCB,"Tirumala, Tirupati",July,7,2016
1,AP002,Andhra Pradesh,Vijayawada,APPCB,"PWD Grounds, Vijayawada",May,5,2017
2,AP003,Andhra Pradesh,Visakhapatnam,APPCB,"GVM Corporation, Visakhapatnam",July,7,2017
3,AP004,Andhra Pradesh,Rajamahendravaram,APPCB,"Anand Kala Kshetram, Rajamahendravaram",September,9,2017
4,AP005,Andhra Pradesh,Amaravati,APPCB,"Secretariat, Amaravati",November,11,2017

In [125]:
clean_data = pd.DataFrame(columns=['Date', 'state',	'city', 'agency', 'station_location',  
                                   'CO (ug/m3)', 'PM10 (ug/m3)', 'PM2.5 (ug/m3)', 'NO (ug/m3)',
                                    'NO2 (ug/m3)', 'NOx (ppb)','Ozone (ug/m3)', 'SO2 (ug/m3)', 'AT (degree C)',  'RH (%)'])

In [126]:
for file in tqdm(os.listdir(file_dir)):
    if file == "stations_info.csv":
        continue
    inter_data = pd.read_csv(file_dir + file)
    inter_data['Date'] = pd.to_datetime(inter_data['From Date'])
    inter_data = inter_data.drop(["From Date", "To Date"], axis = "columns")
    inter_data = inter_data.groupby(pd.Grouper(key='Date', freq='D')).mean().reset_index()
    for col in list(inter_data.columns):
        # if "CO" in col.split("(")[0]:
        #     if col == 'CO (mg/Nm3)':
        #         inter_data['CO (ug/m3)'] = 1e3*inter_data[col]
        #         inter_data = inter_data.drop(col, axis = 'columns')
        #     elif col == 'CO (mg/m3)':
        #         inter_data['CO (ug/m3)'] = 1e3*inter_data[col]
        #         inter_data = inter_data.drop(col, axis = 'columns')
        #     elif col == 'CO (ng/m3)':
        #         inter_data['CO (ug/m3)'] = 1e-3*inter_data[col]
        #         inter_data = inter_data.drop(col, axis = 'columns')
        
        # if "NO" in col.split("(")[0]:
        #     if col == 'NO (mg/m3)':
        #         inter_data['NO (ug/m3)'] = 1e3*inter_data[col]
        #         inter_data = inter_data.drop(col, axis = 'columns')
        #     elif col == 'NOx (ppm)':
        #         inter_data['NOx (ppb)'] = 1e3*inter_data[col]
        #         inter_data = inter_data.drop(col, axis = 'columns')

        if col in ['CO (mg/Nm3)',
                   'CO (mg/m3)',
                   'CO (ng/m3)',
                   'NO (mg/m3)',
                   'NOx (ppm)',
                   'AT ()',
'AT (degree)',
 'AT (ug/m3)','BP ()',
'BP (W/mt2)',
 'BP (mg/m3)',
 'BP (mmHg)',
 'BP (mmHg).1',
 'BP (mmHg).2',
 'BP (mmHg).3',
 'BP (mmHg).4',
 'BP (mmHg).5',
 'BP (mmHg).6',
 'BP (mmHg).7', 
 'CH4 ()',
 'Eth-Benzene ()',
 'Eth-Benzene (ug/m3)',
 'MP-Xylene ()',
 'MP-Xylene (ug/m3)',
  'NMHC ()',
 'NMHC (ug/m3)',
 'Benzene ()',
 'Benzene (mg/m3)',
 'Benzene (ug/m3)',
  'Xylene ()',
 'Xylene (ug/m3)',
 'HCHO (ug/m3)',
 'Hg (ug/m3)',
 'MH (m)',
 'O Xylene (ug/m3)',
  'Toluene ()',
 'Toluene (ug/m3)',
 'VWS (degree)',
 'VWS (m/s)',
 'Variance (n)',
  'WD ()',
 'WD (deg)',
 'WD (degree C)',
 'WD (degree)',
  'Gust (kl/h)',
 'Gust (km/hr)',
 'Gust (m/s)',
 'NH3 ()',
 'NH3 (ppb)',
 'NH3 (ug/m3)',
 'NO ()',
 'NO (ppb)',
 'NO (ppm)',
 'NOx (ug/m3)',
 'Ozone ()',
 'Ozone (ppb)',
 'CO2 (mg/m3)',
 'Power (W)',
 'RF ()',
 'RF (m/s)',
 'RF (mm)',
 'RF (mm).1',
 'RF (mm).2',
 'RF (mm).3',
 'RF (mm).4',
 'RF (mm).5',
 'RF (mm).6',
 'RF (mm).7',
 'RH ()',
 'RH (W/mt2)',
 'RH (degree)',
 'SO2 ()',
 'SPM (ug/m3)'
 'SR ()',
 'SR (W/mt2)',
 'SR (ug/m3)',
 'THC ()',
 'THC (ug/m3)',
 'Temp ()',
 'Temp (degree C)',
 'Temp (ug/m3)',
 'WS ()',
 'WS (m/s)',
 'WS (ug/m3)'
]:
            inter_data = inter_data.drop(col, axis = 'columns')
        
    # print(inter_data.columns)

    for col in list(stations_info.loc[stations_info["file_name"] == file.split(".")[0]].columns):
        if col in ["file_name", "start_month", "start_month_num", "start_year"]:
            continue
        inter_data[col] = stations_info.loc[stations_info["file_name"] == file.split(".")[0], col].item()

    # if (len(clean_data.columns) == len(inter_data.columns)):
    clean_data = pd.concat([clean_data, inter_data])

  0%|          | 0/454 [00:00<?, ?it/s]

100%|██████████| 454/454 [01:12<00:00,  6.24it/s]

In [127]:
clean_data.columns

Index(['Date', 'state', 'city', 'agency', 'station_location', 'CO (ug/m3)',
       'PM10 (ug/m3)', 'PM2.5 (ug/m3)', 'NO (ug/m3)', 'NO2 (ug/m3)',
       'NOx (ppb)', 'Ozone (ug/m3)', 'SO2 (ug/m3)', 'AT (degree C)', 'RH (%)',
       'CH4 (ug/m3)', 'SPM (ug/m3)', 'SR ()'],
      dtype='object')

In [128]:
clean_data = clean_data.reset_index(drop = True)
clean_data = clean_data.drop(['SPM (ug/m3)', 'SR ()', 'CH4 (ug/m3)'], axis = "columns")

In [129]:
clean_data.to_csv("clean_daily_air_quality_data.csv", index = False)
clean_data

,Date,state,city,agency,station_location,CO (ug/m3),PM10 (ug/m3),PM2.5 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),Ozone (ug/m3),SO2 (ug/m3),AT (degree C),RH (%)
0,2016-07-01,Andhra Pradesh,Tirupati,APPCB,"Tirumala, Tirupati",NaN,50.791667,12.236667,14.444167,38.509167,29.557500,14.000000,6.300000,24.229000,66.014167
1,2016-07-02,Andhra Pradesh,Tirupati,APPCB,"Tirumala, Tirupati",NaN,67.738667,22.278000,26.850667,46.828667,42.770667,12.978667,4.857143,24.908000,65.222000
2,2016-07-03,Andhra Pradesh,Tirupati,APPCB,"Tirumala, Tirupati",NaN,46.146250,14.162500,12.116250,41.458750,29.240833,13.608696,5.558261,23.928750,67.645833
3,2016-07-04,Andhra Pradesh,Tirupati,APPCB,"Tirumala, Tirupati",NaN,24.153684,5.842105,7.357895,39.178947,24.560526,14.036316,5.878333,22.967368,72.451579
4,2016-07-05,Andhra Pradesh,Tirupati,APPCB,"Tirumala, Tirupati",NaN,17.228750,4.718750,15.559167,39.981667,31.032917,14.349583,5.072609,23.049167,71.472083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595884,2023-03-27,West Bengal,Kolkata,WBPCB,"Ballygunge, Kolkata",NaN,85.682174,49.638696,4.950909,19.675000,24.630455,50.014348,12.752083,28.307500,81.539167
595885,2023-03-28,West Bengal,Kolkata,WBPCB,"Ballygunge, Kolkata",NaN,91.116250,53.063333,4.071667,16.786667,20.857917,54.649167,9.438333,29.301250,73.485417
595886,2023-03-29,West Bengal,Kolkata,WBPCB,"Ballygunge, Kolkata",NaN,55.763750,27.775417,4.457917,7.919583,12.377917,26.591250,3.084583,29.033750,86.510833
595887,2023-03-30,West Bengal,Kolkata,WBPCB,"Ballygunge, Kolkata",NaN,59.871304,24.673913,4.153750,8.252500,12.406667,29.100000,7.458261,28.357083,88.520000
595888,2023-03-31,West Bengal,Kolkata,WBPCB,"Ballygunge, Kolkata",NaN,69.087917,36.642917,4.778333,15.630417,20.398333,43.787917,10.019167,26.046250,94.622917

In [109]:
clean_data.columns

Index(['Date', 'state', 'city', 'agency', 'station_location', 'CO (ug/m3)',
       'PM10 (ug/m3)', 'PM2.5 (ug/m3)', 'NO (ug/m3)', 'NO2 (ug/m3)',
       'NOx (ppb)', 'Ozone (ug/m3)', 'SO2 (ug/m3)', 'AT (degree C)', 'RH (%)'],
      dtype='object')

In [116]:
clean_data['state'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Chandigarh', 'Delhi', 'Gujarat',
       'Himachal Pradesh', 'Haryana', 'Jharkhand', 'Jammu and Kashmir',
       'Karnataka', 'Kerala', 'Maharashtra', 'Meghalaya', 'Manipur',
       'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
       'Puducherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu',
       'Tripura', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal'],
      dtype=object)

In [96]:
clean_data['state'].value_counts()

state
Delhi                116520
Uttar Pradesh         78949
Maharashtra           64049
Karnataka             55522
Haryana               51215
Bihar                 30932
West Bengal           26484
Madhya Pradesh        25747
Tamil Nadu            25016
Rajasthan             21871
Gujarat               18465
Telangana             18001
Punjab                15708
Kerala                11355
Andhra Pradesh        11347
Odisha                 5201
Assam                  3136
Chhattisgarh           2632
Chandigarh             2362
Jharkhand              2194
Meghalaya              1661
Tripura                1257
Mizoram                1116
Nagaland                940
Puducherry              809
Jammu and Kashmir       781
Arunachal Pradesh       736
Manipur                 695
Uttarakhand             442
Himachal Pradesh        386
Sikkim                  360
Name: count, dtype: int64

In [97]:
stations_info['state'].value_counts()

state
Uttar Pradesh        57
Maharashtra          41
Delhi                40
Karnataka            39
Bihar                35
Rajasthan            35
Haryana              30
Tamil Nadu           26
Madhya Pradesh       22
Gujarat              17
West Bengal          14
Chhattisgarh         14
Telangana            14
Odisha               12
Andhra Pradesh       10
Kerala                9
Assam                 9
Punjab                8
Chandigarh            3
Uttarakhand           3
Manipur               2
Jharkhand             2
Tripura               2
Meghalaya             2
Arunachal Pradesh     1
Mizoram               1
Nagaland              1
Jammu and Kashmir     1
Puducherry            1
Sikkim                1
Himachal Pradesh      1
Name: count, dtype: int64

In [130]:
nullData = clean_data.isnull().sum()
for idx in nullData.index:
    nullData[idx] = int(nullData[idx] / 10)

In [131]:
clean_data.isnull().sum()

Date                    0
state                   0
city                    0
agency                  0
station_location        0
CO (ug/m3)          58077
PM10 (ug/m3)        17216
PM2.5 (ug/m3)       13108
NO (ug/m3)          11339
NO2 (ug/m3)          9696
NOx (ppb)           12393
Ozone (ug/m3)       13220
SO2 (ug/m3)         11844
AT (degree C)       32492
RH (%)              18194
dtype: int64